/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;600;700&display=swap");

/* Root CSS Variables */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
  }

  /* Handle dark mode with updated colors */
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  /* Set body defaults */
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  /* Fix universal element with proper custom CSS */
  * {
    border-color: var(--foreground);
    box-sizing: border-box;
  }
}
